.image {
    width: 100%;
}

.home {
    /* background-color: rgb(205, 205, 205); */
    margin: 0 70px 30px;
}

.border__img {
    margin: 0 10px 14px;
}

.border__img :hover {
    opacity: 0.9;
    transition: ease-in 0.1s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container {
    /* margin: 0 10%; */
}

.item {
    text-decoration: none;
    color: #333;
}
.name {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}
.price {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.introduce {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 12px;
}

.line {
    height: 2px;
    background-color: #333;
    margin: 0 40%;
    margin-bottom: 22px;
}

/* responsive */
/* 
@media screen and (max-width: 820px) {
    .header {
        justify-content: space-around;
    }
    .header__logo {
        width: 285px;
    }
    .header__items {
        display: none;
    }
    .header__iconRes {
        display: block;
        position: relative;
        bottom: -3px;
    }
}
 */
@media screen and (max-width: 550px) {
    .introduce {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .line {
        height: 2px;
        background-color: #333;
        margin: 0 36%;
        margin-bottom: 22px;
    }
}
